*{
    margin: 0;
}


.firstH{
    background-color: aliceblue;
    padding: 30px;

}
header{
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    align-items: center;
    z-index: 1px;
}
ul{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
   
}
.text{
    text-decoration: none;
    gap: 20px;
}
a:hover{
color: red;
}


.firstSec{
    background-color: gray;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 70px;
    font-size: 40px;
}
.secsec{
    padding: 7%;
}
.SECdiv{
    display: flex;
}
.secC{
    padding-bottom: 20px;
    
}
.aro{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    justify-content: space-between
}
.Img{
    border-radius: 50px;
}
.Hub{
    width: 70%;
    font-size: 30px;
}

